body{
   background-color:rgb(12, 99, 125);
    overflow: hidden;
}
#contenedor{
    height: 99.98vh;    
   width: 99%;
    background-color:rgba(15, 111, 135, 0);
   padding: 5px;

}

#nuevaTarea{
    color: antiquewhite;
   width: 30%;
    height: 80px;
   border-radius: 5px;
    position: relative;
   font-size: 25px;
   left: 2%;
   background-color:rgb(12, 99, 125); 

}
.btnL{
   width: 10%;
    height: 28%;
   text-align: center;
    /* padding: 0px; */
   border-radius:3px;
    background-image:linear-gradient(75deg, rgb(3, 197, 3) 10%, rgb(14, 14, 248) 99%) ;
   position: relative;
   text-decoration: none;
    color: aliceblue;
   font-size: 20px;
    font-weight: 550;
   transition: 0.5s;
    left: 43%;

}
.btnL:hover{
    background-image:linear-gradient(75deg, rgb(14, 14, 248) 10%, rgb(3, 197, 3) 99%) ;
   box-shadow: 0px 0px 10px black;
    transform: scale(1.1);
   cursor: pointer; 
}
.title .inputT{
   background-color:rgb(12, 99, 125); ;
    color: antiquewhite;
   width: 70%;
    height: 80px;
    left: -14%;
   position: relative;
    border-radius: 5px;
}
.btn-addTitle{
   background-color: rgb(250, 235, 215);
    width: 10%;
   height:40%;
    border: 3px solid ;
   border-radius: 3px;   
    position: relative;
   transition: 0.5s;
    font-size: 25px;
    left: -47.9%;
    font-weight: 550;
   color:  rgb(8, 58, 89);
    border-radius: 5px;
}
.btn-addTitle:hover{
   background-color:rgb(12, 99, 125); 
    box-shadow: inset 5px 5px 10px rgb(8, 58, 89);
   color: bisque;
    cursor: pointer; 
}
.btn-addTitle:active{
   box-shadow: inset -5px -5px 10px rgb(8, 58, 89);
    background-color:rgb(15, 99, 135); 
}
.btnbtn{
   background-color: rgb(250, 235, 215);
    width: 10%;
    height:40%;
    border: 3px solid ;
   border-radius: 3px;   
    position: relative;
   transition: 0.5s;
    font-size: 25px;
    left: 2.5%;
   /* padding-top: 5px; */
    font-weight: 550;
   color:  rgb(8, 58, 89);
    border-radius: 5px;
}
.btnbtn:hover{
    background-color:rgb(12, 99, 125); ;
   box-shadow: inset 5px 5px 10px rgb(8, 58, 89);
    color: bisque;
   cursor: pointer; 
}
.btnbtn:active{
   box-shadow: inset -5px -5px 10px rgb(8, 58, 89);
    background-color:rgb(15, 99, 135); 
}
section{
   background-color: rgb(27, 79, 101);
    border-radius: 5px;
   height: 500px;
   width: 98%;
    position: absolute;
   bottom: 5px;
    /* overflow: hidden; */
   overflow-y: scroll;
    padding: 10px 0px  10px 30px;
   align-items: center;
    display: grid;
    /* grid-area: 10px; */
   grid-template-columns: auto auto auto auto;
  
}
section::-webkit-scrollbar{
    background-color: transparent;
}
section > div{
   text-align: center;
    width: 95%;
    border-radius: 5px;
   background-color:antiquewhite;
   padding: 10px;
   margin: 50px;
   margin-left: -5px;
    overflow: scroll;
    border: solid white;
  transition: 0.5s;
}
section > div:hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 35px black;
}
section > div::-webkit-scrollbar{
    background-color: transparent;
}
h3{
    color:rgb(12, 99, 125);
}
nav{
    position: absolute;
    width: 98%;
    height: 120px;
    background-color: rgb(213, 249, 249);
    border-radius: 5px;
    padding: 10px;
    display: flex;
}



@media screen and (max-width: 995px) {
    section{
        grid-template-columns: auto auto auto ;
    }
}
@media screen and (max-width: 750px) {
    body{
        text-decoration: none;
        /* background-color: rgba(240, 248, 255, 0); */
    }
    section{
        grid-template-columns: auto auto ;
    }
    .btn-addTitle, .btnbtn{
        font-size: 20px;
    }
}


@media screen and (max-width: 555px) {
    section{
        grid-template-columns: auto  ;
    }
}