body{
   background-color:rgb(12, 99, 125);
    overflow: hidden;
}
#contenedor{
    height: 99.98vh;    
   width: 99%;
    background-color:rgba(15, 111, 135, 0);
   padding: 5px;
   border: 1px solid  rgb(250, 235, 215);
   border-radius: 7px;
}

nav{
    position: absolute;
    width: 98%;
    height: 128px;
    background-color: rgba(210, 210, 210, 0);
    border-radius: 5px;
    padding: 10px;
}
/* input para agregar tareas*/
#nuevaTarea{
    color: antiquewhite;
   width: 30%;
    height: 80px;
   border-radius: 5px;
    position:absolute;
   font-size: 25px;
   left: 0.5%;
   top: 5px;
   background-color:rgb(12, 99, 125); 
}
/* boton para agregar tarea */
.btnbtn{
    background-color: rgb(12, 99, 125);
    color:  bisque;
     width: 10%;
    height:30%;
     font-size: 25px;
     border: 2px solid ; 
     border-radius: 5px;
     font-weight: 550;
     position: absolute;
     left: 0.5%;
     top: 85px;
     transition: 0.5s;
 }
 .btnbtn:hover{
     /* background-color:rgb(12, 99, 125); ; */
    box-shadow: inset -5px 5px 10px rgb(8, 58, 89);
     color:rgb(255, 238, 217);
    cursor: pointer; 
 }
 .btnbtn:active{
    box-shadow: inset 5px -5px 10px rgb(8, 58, 89);
     background-color:rgb(15, 99, 135); 
 }
/* boton hacia El MAin */
.btnL{
    color: aliceblue;
   background-image:linear-gradient(75deg, rgb(3, 197, 3) 10%, rgb(14, 14, 248) 99%) ;
    width: 12%;
   height: 28%;
    font-size: 20px;
   border-radius:3px;
    padding: 3px;
   font-weight: 550;
    position: relative;
   text-align: center;
    color: aliceblue;
   left: 43%;
    text-decoration: none;
   transition: 0.5s;
}
.btnL:hover{
    background-image:linear-gradient(75deg, rgb(14, 14, 248) 10%, rgb(3, 197, 3) 99%) ;
   box-shadow: 0px 0px 10px black;
    transform: scale(1.5);
   cursor: pointer; 
}
/* boton para cambio de modo */
#btnClasses{
    background-color: rgb(25, 25, 68);
    width: 4.5pc;
    height: 30%;
     font-size: 20px;
    border-radius:3px;
     padding:0px;
    font-weight: 550;
     position: relative;
    text-align: center;
     color:rgb(250, 235, 215);
    left: 85.4%;
    top: 30px;
     text-decoration: none;
    transition: 0.5s;
}
#btnClasses:hover{
   box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-color:rgb(250, 235, 215);
    color: rgb(25, 25, 68);
    cursor: pointer;
    transform: scale(1.1);
}
/* contenedor de el titulo */
.contenedorTitulo{
    background-color: rgba(0, 255, 255, 0);
    width: 35%;
    /* height: ; */
    position: relative;
    top: -45px;
    left: 50%;
}
/*input para el dueno de las tareas*/
.title .inputT{
   background-color:rgb(12, 99, 125); ;
    color: antiquewhite;
   width: 90%;
    height: 80px;
    border-radius: 5px;
    position: relative;
    top: -20px;
    /* left: 15%; */
}
.btn-addTitle{
   background-color:rgb(12, 99, 125);
    width: 30%;
   height: 38px;
    border: 2px solid;   
    font-size: 25px;
    font-weight: 550;
   border-radius: 5px;
    position: relative;
     left: 65%;
     top: -28px; 
    color:  bisque;
    transition: 0.5s;
}
/*  */
.btn-addTitle:hover{
   /* background-color:rgb(255, 228, 196);  */
    box-shadow: inset 5px 5px 10px rgb(8, 58, 89);
   color: rgb(255, 240, 221);
    cursor: pointer; 
}
.btn-addTitle:active{
   box-shadow: inset -5px -5px 10px rgb(8, 58, 89);
    background-color:rgb(15, 99, 135); 
}

/* contenedor de las tareas */
section{
   background-color: rgb(27, 79, 101);
    border-radius: 5px;
   height: 490px;
   width: 98%;
    position: absolute;
   bottom: 5px;
   overflow-y: scroll;
    padding: 10px 0px  10px 30px;
   align-items: center;
    display: grid;
   grid-template-columns: auto auto auto auto;
  
}
section::-webkit-scrollbar{
    background-color: transparent;
}
/* las tareass*/
section > div{
   text-align: center;
    width: 95%;
    border-radius: 5px;
   background-color:antiquewhite;
   padding: 10px;
   margin: 50px;
   margin-left: -5px;
    overflow: scroll;
    border: solid white;
  transition: 0.5s;
}
section > div:hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 35px black;
}
section > div::-webkit-scrollbar{
    background-color: transparent;
}
h3{
    color:rgb(12, 99, 125);
}

@media screen and (max-width: 995px) {
    section{
        grid-template-columns: auto auto auto ;
    }
}
@media screen and (max-width: 750px) {
    body{
        text-decoration: none;
        /* background-color: rgba(240, 248, 255, 0); */
    }
    section{
        grid-template-columns: auto auto ;
    }
    .btn-addTitle, .btnbtn{
        font-size: 20px;
    }
}
@media screen and (max-width: 555px) {
    nav{
        width: 97%;
    }
    section{
        height: 570px;
        grid-template-columns: auto  ;
        overflow-x:hidden ;
        bottom: 5px;
    }
    .contenedorTitulo{
        left: 48%;
    }
    .btnbtn{
        width: 20%;
        font-size: 20px;
        text-align: center;
    }
    .btn-addTitle{
        left: 48%;
        width: 47%;
        font-size: 20px;
    }
    #btnClasses{
        left: 83%;
    }
    section{
        width: 97%;
    }
}