body{
    background-color: antiquewhite;

    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#contenedor{
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgb(48, 48, 48);
    margin-top: 5vh;
}
.t{
    font-weight: 550;
    border: solid 1px bisque;
    border-left: transparent;
    border-right: transparent;
}
#cont{
    position: relative;
    top: 20px;
    font-family: "Madimi One", sans-serif;
}
.contenedor-versos{
    height: 320px;
    border: solid 1px bisque ;
    border-right: transparent;
    border-left: transparent;
}
#bton{
    margin-top: 25px;
}
#btn{
    font-weight: 550;
    border: solid 2px bisque;
    background-color: "";
    color: rgb(0, 0, 0);
}
#btn:hover{
    background-color: bisque;
}
#btn::before{
    content:"♥";
    color: rgb(237, 217, 189);
}
#btn::after{
    content:"♥";
    color: rgb(237, 217, 189);
}